
  
  /* .App {
    margin: 0 auto;
    max-width: 1200px;
    width: 80vw;
  }
  
  .energy-svg {
    height: 300px;
    overflow: visible;
    margin: 0;
  }
   */
  /* .svg-wrap {
    width: 100%;
    display: flex;
    margin: 16px;
    height: 200px;
  } */
  
   /* .y-axis-svg {
    overflow: visible;
  }

  .x-axis{
    height: 300px;
    overflow: visible;
    margin: 0;
  }
  
  .x-axis-scroll {
    overflow-x: scroll;
    margin-bottom: -150px;
  }
  
  
  .x-axis-scroll::-webkit-scrollbar {
    height: 5px;
    position: relative;
  }
  
  
  .x-axis-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  
  .x-axis-scroll::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 9999px;
  }
  
  
  .x-axis-scroll:hover::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 9999px;
  }*/
  